.boton-clear{
    height: 50px;
    width: 175px;
    font-size: 1.6em;
    display: flex;
    background-color: #0ed629ec;
    margin: 3px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px #0ed629ec;
}

.boton-clear:hover {
    background-color: #16ff00;
    box-shadow: 3px 3px 3px 2px #16ff00;
}
